[includeIf "gitdir:~/src/personal/"]
  path = .gituser-personal
[includeIf "gitdir:~/src/work/"]
  path = .gituser-work
[cola]
  spellcheck = false
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  apply = !f() {git merge --no-commit --no-ff $1}
[pager]
  branch = false
[core]
  editor = vim
